<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="bootstrap.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h4>Mission to Mars</h4>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Click To Scrape New Data</a></p>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>NEWS ARTICLES</h4>
        <br>
        <p>news title</p>
        <p>{{ marsdata }} </p>
        <p>news paragraph text</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-8">
        <h4>MARS BACKGROUND IMAGE</h4>
        <br>
        <!-- <p>{{marsdata}}</p> -->
        <img src={{ marsdata['featured_image'] }}>
      </div>
      <div class="col-md-4">
        <h4>MARS CURRENT WEATHER</h4>
        <br>
        <p>tweets</p>
        <p> {{ marsdata["tweet_text"] }}</p>
      </div>
  </div>
  
    <div class="row">
      <div class="col-md-4 offset-md-8">
        <h4>MARS FACTS</h4>
      </div>
    </div>
    
  
    <div class="row">
      <div class="col-md-12" align="center">
        <h1>MARS HEMISPHERES</h1>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" align="right">
        <img src={{ hemispheres_data["img_url"] }}>
        <br>
        hemisphere 1
        {{hemispheres_data["title"]}}
      </div>
      <div class="col-md-6" align="left">
        <img src={{ hemispheres_data["img_url"] }}>
        <br>
        hemisphere 2
        {{hemispheres_data["title"]}}
      </div>   
    </div>

    <div class="row">
      <div class="col-md-6" align="right">
        <img src={{ hemispheres_data["img_url"] }}>
        <br>
        hemisphere 3
        {{hemispheres_data["title"]}}
      </div>
      <div class="col-md-6" align="left">
        <img src={{ hemispheres_data["img_url"] }}>
        <br>
        hemisphere 4
        {{hemispheres_data["title"]}}
      </div>   
    </div>
  </div>

<!-- START Footer Section -->
<footer>
    <div class="modal-footer">Copyright &copy; 2020, Michael Davis</div>
  </footer>
<!-- END Footer Section -->

  </body>
</html>